$yellow: rgb(246, 243, 143);
$lightgreen: rgb(103, 217, 162);
$lightpink: rgb(223, 195, 217);
$lightgray: #eee;
$darkgray: #333;
$lightpurple: rgb(190, 145, 228);

%text-bubble-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: rgba(76, 191, 146, 0.5);
}

%text-bubble {
  height: 70%;
  width: 15%;
  background: rgba(255, 254, 255, 0.49);
  border-radius: 2em 2em 2em 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
}

li {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  color: $darkgray;
  text-decoration: none;
  transition: all 250ms;

  &:hover {
    color: $lightgreen;
  }

  &:visited {
    color: none;
  }
}

.App {
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
}

.sidebar {
  flex-basis: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-shadow: .3em 0 1.4em rgba(0,0,0,.3);
  z-index: 10;

  &__navbar {
    background: $lightgray;
    flex-basis: 90vh;

    h1 {
      padding-left: .8em;

      @media screen and (max-width: 1000px) {
        font-size: 15px;
        color: red;
      }
    }

    ul {
      padding-left: 2.8em;
    }

    a {

      @media screen and (max-width: 1000px) {
        font-size: 10px;
        color: green;
      }
    }
  }

  &__footer {
    background: $yellow;
    flex-basis: 10vh;
    color: black;
    border-top: solid 1px rgba(187, 185, 110, .5);
  }
}

.main {
  flex-basis: 87vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    //MAAAAAAIIIN background IMMMMAGGE
    background-image: url('./bg-art.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    position: relative;
  }

  &__bottom {
    background: rgb(246, 215, 207);
    height: 35vh;
    overflow-x: scroll;
  }
}

.bottom-bar-home {
  color: black;

  p {
    font-size: 26px;
  }

  img {
    float: left;
    width: 15%;
    margin: 0 .5em .5em .5em;
    border-radius: 1em;
  }
}

.skills {
  color: white;
  background: rgba(0,0,0,.3);
  text-align: center;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;

  .tech-skills {
    width: 10%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 2em;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: space-evenly;

    i {
      color: white;
      font-size: 55px;
    }
  }
}

.icon-names {
  display: flex;
  justify-content: space-evenly;
}

.projects {
  box-sizing: border-box;
  height: 100%;
  background: rgba(0,0,0,.3);
  color: white;
  padding: 1.5em;

  h1 {
    margin-top: 0;
  }
}

.contact {
  height: 100%;
  background: rgba(0,0,0,.3);

  h1 {
    margin-top: 0;
  }
}

.home-page {
  box-sizing: border-box;
  background: rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  text-shadow: -3px 1px black;
  height: 100%;
  color: white;
  letter-spacing: .4em;
  padding: .5em 1.5em 1em 1em;

  h1 {
    margin: 0;
  }

  h3 {
    text-align: right;
    align-self: flex-end;
  }
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  &__icons {
    font-size: 30px;
  }
}

.bottom-bar-projects {
  @extend %text-bubble-container;
  width: 150%;

  &--outer {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.arrow {
  position: fixed;
  top: 78%;
  font-size: 4em;
  // color: rgba(0,0,0,.7);
  color: $lightgray;
  opacity: .7;

  &--left {
    left: 20%;
  }

  &--right {
    right: 0;
  }
}

.bottom-bar-skills {
  @extend %text-bubble-container;
}

.projects-box {
  @extend %text-bubble;
  border-radius: .5em;
  height: 90%;
  width: 20%;
  display: flex;
  align-items: flex-end;

  p {
    width: 100%;
    background: rgba(255, 255, 255, .9);
    margin: 0;
    text-align: center;
    font-size: 24px;
  }

  &--musaic {
    background-image: url('/img/Musaic.png');
    background-size: cover;
  }

  &--repo-tracker {
    background-image: url('/img/RepoTracker.png');
    background-size: cover;
  }

  &--fitness-trails {
    background-image: url('/img/FitnessTrails.png');
    background-size: cover;
  }

  &--monch {
    background-image: url('/img/Monch.png');
    background-size: cover;
  }
}

.skills-box {
  @extend %text-bubble;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-site-link, .github-site-link {
  color: yellow;
  margin-right: 2em;
  margin-bottom: 10em;
}

.project-title {
  color: $lightgreen;
  font-size: 50px;
  margin-bottom: 10px;
}

.hobby-list {
  font-size: 20px;

  &__right {
    animation: slide 23s infinite;
  }

  &__left {
    transform: translateX(85%);
    animation: slide2 23s infinite;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
    color: white;
  }
  15% {
    transform: translateX(0);
    color: white;
  }
  50% {
    transform: translateX(90%);
    color: orange;
  }
  65% {
    transform: translateX(90%);
    color: orange;
  }
  100% {
    transform: translateX(0);
    color: white;
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(85%);
    color: white;
  }
  15% {
    transform: translateX(85%);
    color: white;
  }
  50% {
    transform: translateX(0);
    color: orange;
  }
  65% {
    transform: translateX(0);
    color: orange;
  }
  100% {
    transform: translateX(85%);
    color: white;
  }
}

.photo-wrap {
  max-width: 82vw;
  margin: 7vh auto 0;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  border: 15px solid black;
  box-shadow: 0 0 10px rgba(245,245,245,.2);

  &__inner-border {
    max-width: 82vw;
    border: 2px solid #bbb;
    overflow-x: scroll;
  }
}

.photo {
  margin-right: 2vw;
  height: 300px;
}

.photo-box {
  display: flex;
}
