$yellow: rgb(246, 243, 143);
$lightgreen: rgb(103, 217, 162);
$lightpink: rgb(223, 195, 217);

%text-bubble-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: $lightpink;
}

%text-bubble {
  height: 70%;
  width: 15%;
  background: rgba(255, 254, 255, 0.49);
  border-radius: 2em 2em 2em 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
}

li {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  color: black;
  text-decoration: none;
  transition: all 250ms;

  &:hover {
    color: $lightgreen;
  }

  &:visited {
    color: none;
  }

  &:active {
    color: limegreen;
  }
}

.App {
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
}

.sidebar {
  flex-basis: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-shadow: .3em 0 1.4em rgba(0,0,0,.3);
  z-index: 10;

  &__navbar {
    background: #eee;
    flex-basis: 90vh;

    h1 {
      padding-left: .8em;
    }

    ul {
      padding-left: 2.8em;
    }
  }

  &__footer {
    background: $yellow;
    flex-basis: 10vh;
    color: black;
    border-top: solid 1px rgba(187, 185, 110, .5);
  }
}

.main {
  flex-basis: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    background: rgba(223, 195, 217, .3);
    background-image: url("https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b12706b9ac3e3d4784e617a474f4332a&auto=format&fit=crop&w=1489&q=80");
    color: rgb(245, 166, 199);
    height: 65vh;
    // padding-left: 2em;
  }

  &__bottom {
    background: rgb(246, 215, 207);
    height: 35vh;
    overflow-x: scroll;
    // padding-left: 2em;
  }
}

.bottom-bar-home {
  color: black;

  p {
    font-size: 22px;
  }

  img {
    float: left;
    width: 15%;
    margin: 0 .5em .5em .5em;
    border-radius: 1em;
  }
}

.skills {
  color: white;
  height: 100%;

  h1 {
    margin-top: 0;
  }
}

.projects {
  color: white;
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  text-shadow: -3px 1px black;
  color: rgb(251, 183, 200);
  height: 100%;

  h1 {
    margin-top: 0;
  }
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  &__icons {
    font-size: 30px;
  }
}

.bottom-bar-projects {
  @extend %text-bubble-container;
  width: 150%;

  &--outer {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.arrow {
  position: fixed;
  top: 78%;
  font-size: 4em;
  color: rgba(0,0,0,.7);

  &--left {
    left: 22%;
  }

  &--right {
    right: 2%;
  }
}

.bottom-bar-skills {
  @extend %text-bubble-container;
}

.projects-box {
  @extend %text-bubble;
  height: 80%;
  width: 15%;
}

.skills-box {
  @extend %text-bubble;
}
