.App {
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
}

.sidebar {
  /* background-image: url("https://subtlepatterns.com/patterns/sativa.png"); */
  flex-basis: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__navbar {
    background: violet;
  }

  &__footer {
    background: limegreen;
  }
}

.main {
  background: rgb(242, 225, 242);
  flex-basis: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    background: pink;
  }

  &__bottom {
    background: orange;
  }
}

.skills {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a8c2864829b36d67d97b20234c853ec8&auto=format&fit=crop&w=1415&q=80");
}
